<div class="container rounded">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-bottom">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#idFooterNavBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            <a class="navbar-brand" href="#">navbar-brand</a>
        </div>

        <div class="collapse navbar-collapse" id="idFooterNavBar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a class="nav-link" href="http://www.google.com">navbar-nav</a>
                </li>
                <li>
                    <a class="nav-link" href="http://www.facebook.com">navbar-nav</a>
                </li>
                <li>
                    <a class="nav-link" href="http://www.apple.com">navbar-nav</a>
                </li>
                <li>
                    <a class="nav-link" href="http://www.ibm.com">navbar-nav</a>
                </li>
            </ul>
        </div>
    </nav>
</div>