<!DOCTYPE html>
<html lang="en">

<head>
    <title>index.ejs</title>
    <% include ../partials/html_head.html %>
</head>

<body>
    <%# include ../partials/html_body_header.html %>
        <%= process %>
            <%# include ../partials/html_body_footer.html %>
</body>

</html>